// Variables

$theme: #81AA14 !default; 
$theme-1: $theme !default;
$theme-2: #A2C24C !default;
$theme-3: #F2F7E7 !default;

$color-border: #E9EEF0 !default;

$theme-red: #EC7474 !default;
$theme-red-1: $theme-red !default;

$gray: #8F8F8F !default;
$gray-1: $gray !default;
$gray-2: #C5C5C5 !default;


$fonts-color: #444444 !default;
$fonts-color-theme: $theme !default;
$fonts-color-theme-2: $theme-2 !default;
$fonts-color-gray-1: $gray-1 !default;
$fonts-color-gray-2: $gray-2 !default;

$color-fonts: #444444 !default;

$white: #fff !default;

$bg: #F6F8F9;

$globalBg: #EFF3F6;
$inputBg: #E6EAEE;
$selectTab: #53BB4B;

// button color
$defaultBtn: #18AD19;

$level-1: #E9EEF0  !default;
$level-2: #F2F7E7  !default;
$level-3: #FFD0D0  !default;

