.box {
  background: #f2f2f5;
  min-width: 1170px;
  line-height: 26px;
  color: #414a60;
  font-size: 14px; }

.box2 {
  background: #f2f2f5;
  min-width: 1170px;
  line-height: 26px;
  color: #414a60;
  font-size: 14px; }

.box3 {
  background: #f2f2f5;
  min-width: 1170px;
  line-height: 26px;
  color: #414a60;
  font-size: 14px; }
